/* Pruebas */

* {
    display: ;
    .bodysection {
        display: grid;
        background-color: lightcoral;
        .divtitulo {
            display: flex;
            background-color: lightseagreen;
        }

    }

}


